@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.containerPai {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerFilho {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 9rem;
    gap: 2rem;
}

.titulo {
    color: #885a2d;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 90%;
}

.paragrafo {
    color: #B08968;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 80%;
}

.imgCafe {
    position: inherit;
    width: 20%;
    height: 20%;
    margin-top: 9rem;
    margin-right: 10rem;
}

.containerButtons {
    width: 60%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.containerFrases {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.buttons {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    width: 50%;
    height: 130%;
    background-color: #6b4f38;
    color: white;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.buttons:hover {
    cursor: pointer;
    background-color: #856245;
}

.buttons:active {
    background-color: #78593f;
}